<launch> 
    
    <!--<group ns="uav_0">
        <node pkg="uav" name="communciation_node" type="uav_communication_node" output="screen">
            <param name="sp_name" value="/dev/rfcomm24" /> 
        </node>
        <node pkg="uav" name="pose_estimator_node" type="uav_pose_estimator_node" output="screen"/>-->
        <!--<node pkg="uav" name="length_simulate_node" type="uav_length_simulate_node" output="screen"/>-->
    
        <!--<node pkg="uav" name="uav_ctrl_node" type="uav_ctrl_node" output="screen">
        </node>-->

    <!--</group>

    <group ns="uav_1">
        <node pkg="uav" name="communciation_node" type="uav_communication_node" output="screen">
            <param name="sp_name" value="/dev/rfcomm25" /> 
        </node>
        <node pkg="uav" name="pose_estimator_node" type="uav_pose_estimator_node" output="screen"/>-->
        <!--<node pkg="uav" name="length_simulate_node" type="uav_length_simulate_node" output="screen"/>-->
    
        <!--<node pkg="uav" name="uav_ctrl_node" type="uav_ctrl_node" output="screen">
        </node>-->
        
    <!--</group>-->
  
    <group ns="uav_0">
        <node pkg="uav" name="communciation_node" type="uav_communication_node" output="screen">
            <param name="sp_name" value="/dev/rfcomm34" /> 
        </node>
        <node pkg="uav" name="pose_estimator_node" type="uav_pose_estimator_node" output="screen"/>
        
        <node pkg="uav" name="uav_ctrl_node" type="uav_ctrl_node" output="screen">
        </node>
        
    </group>

    <!--<group ns="uav_1">
        <node pkg="uav" name="communciation_node" type="uav_communication_node" output="screen">

            <param name="sp_name" value="/dev/rfcomm31" /> 
        </node>
        <node pkg="uav" name="pose_estimator_node" type="uav_pose_estimator_node" output="screen"/>
        
        <node pkg="uav" name="uav_ctrl_node" type="uav_ctrl_node" output="screen">
        </node>
        
    </group>-->

    <node pkg="uav" name="visiualization_node" type="uav_visualization_node" output="screen">
        <param name="uav_count" value="2" />

    </node>
    
    <node pkg="uav" name="uav_task_node" type="uav_task_node" output="screen" />

  
</launch>
